<footer class="page-footer">
	<div class="page-footer-inner pull-right">
		<div>
			<i class="fa fa-copyright"></i>
			Desenvolvido e mantido por <i class="fa fa-code"></i>Setor de Tecnologia da Informação<i class="fa fa-code"></i> | Univiçosa
			<?php echo date('Y'); ?>
		</div>
	</div>
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</footer>