<div class="ui small basic modal" id="<?php echo $this->id; ?>">
    <div class="ui icon header">
        <i class="info circle icon"></i>
        <?php echo $this->title; ?>
    </div>

    <div class="content">
        <p><?php echo $this->description; ?></p>
    </div>

    <div class="actions">
        <button class="ui red cancel inverted button">
            <i class="remove icon"></i>
            Não
        </button>

        <button class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Sim
        </button>
    </div>
</div>