<nav class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner">
        <div class="page-logo">
            <a href="<?php echo $this->url('home')?>">
                <img src="https://cdn.univicosa.com.br/img/logos/univicosa_horizontal.svg" alt="logo" class="logo-default" width="50px"> </a>
            <div class="menu-toggler sidebar-toggler">
            </div>
        </div>

        <a href="#" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>

        <div class="page-actions">
            <div class="btn-group">
                <button type="button" class="btn btn-circle btn-outline blue dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-plus"></i>
                    <span class="hidden-sm hidden-xs">Adicionar</span>
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="<?php echo $this->url('evento/adicionar')?>">
                            <i class="fa fa-plus"></i> Evento</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="page-top">
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" href="<?php echo $this->url('eventos');?>"><i class="fa fa-tasks"></i> Eventos</a>
                    </li>
                    <?php if ($this->user): ?>
                        <li class="dropdown dropdown-user">
                            <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                                <i class="fa fa-user"></i>

								<span class="username username-hide-on-mobile" data-value="<?php echo $this->user->getName(); ?>" id="user">
                                    <?php echo $this->user->getName(); ?>
                                </span>

                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="<?php echo $this->url('logout'); ?>">
                                        <i class="fa fa-sign-out"></i> Sair</a>
                                </li>
                            </ul>
                        </li>
                    <?php endif; ?>
                </ul>
            </div>
        </div>
    </div>
</nav>
