<?php $additionalParameters = $this->additionalParameters ? $this->additionalParameters : []; ?>

<?php if ($this->count): ?>
    <ul class="pagination pagination-circle">
        <?php if (isset($this->previous)): ?>
            <li>
                <a  aria-label="Previous"
                   href="<?php echo $this->url($this->route, $this->previous == 1 ? array_merge(['action' => $this->route], $additionalParameters) : array_merge(['pagina' => $this->previous], $additionalParameters)); ?>">
					<span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        <?php endif; ?>

        <?php foreach($this->pagesInRange as $item): ?>

            <?php if($this->current == $item): ?>
                <li class="item disabled">
					<a href="#"><?php echo $item; ?></a>
                </li>
            <?php else: ?>
                <li>
					<a href="<?php echo $this->url($this->route, $item == 1 ? array_merge(['action' => $this->route], $additionalParameters) : array_merge(['pagina' => $item], $additionalParameters)); ?>">
						<?php echo $item; ?>
					</a>
				</li>
            <?php endif; ?>

        <?php endforeach; ?>

        <?php if (isset($this->next)): ?>
            <li>
				<a aria-label="Next" href="<?php echo $this->url($this->route, array_merge(['pagina' => $this->next], $additionalParameters)); ?>">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
        <?php endif; ?>
    </ul>
<?php endif; ?>