<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse">
		<ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu" data-auto-scroll="true" data-slide-speed="200">
			<?php if ($this->user): ?>
				<?php foreach($this->permissions as $permission): ?>
					<?php if ($permission->getSystem()->getInitials() === 'EVENTOS'): ?>
						<li class="nav-item active">
							<a href="<?php echo $permission->getSystem()->getDomain(); ?>" class="nav-link nav-toggle">
								<i class="fa fa-line-chart"></i>
								<span class="title"><?php echo $permission->getSystem()->getInitials(); ?></span>
								<span class="selected"></span>
								<span class="arrow open"></span>
							</a>
						</li>

						<?php else: ?>

						<li class="nav-item">
							<a href="<?php echo $permission->getSystem()->getDomain(); ?>" class="nav-link nav-toggle">
								<i class="<?php echo $permission->getSystem()->getIcon(); ?>"></i>
								<span class="title"><?php echo $permission->getSystem()->getInitials(); ?></span>
								<span class="arrow"></span>
							</a>
						</li>
					<?php endif; ?>

				<?php endforeach; ?>
			<?php endif; ?>
		</ul>
	</div>
</div>