@keyframes slidedown {
    from {
        top: -50px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 0.8;
    }
}

@keyframes slideleft {
    from {
        left: 200px;
        opacity: 0.5;
    }
    to {
        left: 2px;
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        top: -50px
    }
    to {
        top: 0px
    }
}

@keyframes show-help-box {
    from {
        top: -100px
    opacity: 0;
    }
    to {
        top: -85px
    opacity: 1;
    }
}
