.img-clickable,
.mini.button {
	cursor: pointer;
	}

.required label {
	&:after {
		content: "*";
		color: darken(red, 5%);
		}
	}

.center-table-column {
	text-align: center;
	vertical-align: middle;

	.checkbox {
		margin-left: auto;
		margin-right: auto;
		}
	}

#toast-container {
	> .toast {
		background-image: none !important;
		}

	> .toast:before {
		position: fixed;
		font-family: FontAwesome;
		font-size: 24px;
		line-height: 18px;
		float: left;
		color: #FFF;
		padding-right: 0.5em;
		margin: auto 0.5em auto -1.5em;
		}

	> .toast-warning:before {
		content: "\f071";
		}

	> .toast-error:before {
		content: "\f05c";
		}

	> .toast-info:before {
		content: "\f05a";
		}

	> .toast-success:before {
		content: "\f046";
		}

	> .morning.toast-info:before {
		content: "\f118";
		}

	> .afternoon.toast-info:before {
		content: "\f185";
		}

	> .night.toast-info:before {
		content: "\f186";
		}
	}

.logo-default {
	width: 120px;
	margin: 17px 0 0 !important;
	}

