.img-clickable,
.mini.button {
  cursor: pointer;
}
.required label:after {
  content: "*";
  color: #e60000;
}
.center-table-column {
  text-align: center;
  vertical-align: middle;
}
.center-table-column .checkbox {
  margin-left: auto;
  margin-right: auto;
}
#toast-container > .toast {
  background-image: none !important;
}
#toast-container > .toast:before {
  position: fixed;
  font-family: FontAwesome;
  font-size: 24px;
  line-height: 18px;
  float: left;
  color: #FFF;
  padding-right: 0.5em;
  margin: auto 0.5em auto -1.5em;
}
#toast-container > .toast-warning:before {
  content: "\f071";
}
#toast-container > .toast-error:before {
  content: "\f05c";
}
#toast-container > .toast-info:before {
  content: "\f05a";
}
#toast-container > .toast-success:before {
  content: "\f046";
}
#toast-container > .morning.toast-info:before {
  content: "\f118";
}
#toast-container > .afternoon.toast-info:before {
  content: "\f185";
}
#toast-container > .night.toast-info:before {
  content: "\f186";
}
.logo-default {
  width: 120px;
  margin: 17px 0 0 !important;
}

.form-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-margin-top {
  margin-top: 20px;
}

.form-margin-bottom {
  margin-bottom: 20px;
}

.form-margin-bottom-10 {
  margin-bottom: 10px;
}

.form-margin-top-10 {
  top: 10px;
}

.tooltip.top .tooltip-inner {
  background-color:green;
  opacity: 0.8;
}
.tooltip.top .tooltip-arrow {
  border-top-color: green;
  opacity: 0.8;
}

.tooltip-inner {
  max-width: 250px;
  max-height: 100px;
  word-wrap: break-word;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}

.circle-step {
  width: 50px;
  height: 50px;
  color: #459f52;
  display: inline-block;

  font-size: 25px;
  line-height: 44px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 0px;
  border: 3px solid #459f52;
  opacity: 0.8;

  animation-duration: 1s;
  animation-name: slidedown;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.text-in {
  position: relative;
  animation-duration: 1s;
  animation-direction: normal;
  animation-name: slideleft;
  animation-iteration-count: 1;
}

.bird-position {
  position: absolute;
  left: 1px;
  top: -65px;
  transition: opacity 1.5s;
  z-index: 1;
  opacity: 0;
}

.box-position {
  position: absolute;
  left: 110px;
  top: -70px;
  opacity: 0;
  transition: opacity 1.5s;
  transition-delay: 1s;
}

.show-box {
  opacity: 1;
}



.text-field-1 {
  position: absolute;
  height: 50px;
  max-width :100px;
  left: 50px;
  top: -5px;
  color: #007700;
  transition-delay: 2s;
  z-index: 1;
}

.show-bird {
  position: absolute;
  opacity: 1;
  animation-duration: 1.5s;
  animation-direction: normal;
  animation-name: slide-down;
  animation-iteration-count: 1;
}

.add-blur {
  filter: blur(1px) grayscale(50%);
}

.tut-bird {
  opacity: 0;
  transition: opacity 1.5s;
}

.tut-bird.size-1 {
  height: 100px;
  width: 100px;
}

.tut-bird.position-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.tut-bird.transition-1 {
  opacity: 1;
  animation-duration: 1.5s;
  animation-direction: normal;
  animation-name: slide-down;
  animation-iteration-count: 1;
}

.tut-box {
  opacity: 0;
  transition: opacity 1.5s;
  transition-delay: 1s;
}

.balloon.size-1 {
  height: 50px;
  width: 170px;
}

.tut-box.position-1 {
  position: absolute;
  left: 110px;
  top: -4px;
  z-index: 0;
}

.tut-box.transition-1 {
  opacity: 1;
}

.tut-text-box {
  z-index: 0;
  transition: opacity 1.5s;
  transition-delay: 1s;
}

.tut-text-box.size-1 {
  height: 200px;
  width :200px;
}

.tut-text-box.position-1 {
  position: absolute;
  left: 50px;
  top: 15px;
}

.tut-text {
  opacity: 0;

  transition: opacity 1.5s;

  position: absolute;
  left: 0px;
  top: 0px;
}

.text-transition {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.tut-container {
  top: -60px;
  left: -40px;
  position: absolute;

  transition: opacity 1s;
}

.button-help-next-position {
  position: absolute;
  left: 60px;
}

.button-help-close-position {
  position: absolute;
  top: -70px;
  left: 40px;
}
