<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-blue-sharp">
                    <span class="caption-subject bold caption font-blue-sharp uppercase">Demandas</span>
                </div>
            </div>

            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue">
                                <div class="mt-head-icon">
                                    <i class="fa fa-television"></i>
                                </div>
                                <div class="mt-head-desc"> Formulário de demanda. </div>
                                <span class="mt-head-date">ASCOM</span>
                                <div class="mt-head-button">
                                    <a
                                        class="btn btn-circle btn-outline white btn-sm"
                                        type="button"
                                        href="<?php echo $this->url('demanda/adicionar-editar', ['idevent' => $this->eventId, 'idsector' => $this->ascomId]);?>"
                                        >
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-green-turquoise">
                                <div class="mt-head-icon">
                                    <i class="fa fa-clipboard"></i>
                                </div>
                                <div class="mt-head-desc">Formulário de demanda.</div>
                                <span class="mt-head-date">Almoxarifado</span>
                                <div class="mt-head-button">
                                    <a
                                        class="btn btn-circle btn-outline white btn-sm"
                                        type="button"
                                        href="<?php echo $this->url('demanda/adicionar-editar', ['idevent' => $this->eventId, 'idsector' => $this->almoxarifadoId]);?>"
                                        >
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="margin-bottom-10">
            <a
                class="btn btn-primary"
                href="<?php echo $this->url('modulos', ['idevent' => $this->eventId]); ?>"
                >
                <i class="fa fa-arrow-left"></i>voltar
            </a>
        </div>
    </div>
</div>