<article class="ui vertical stripe segment">
	<div class="ui container">
		<div class="ui icon small error tall stacked segment message">
			<i class="warning sign icon"></i>
			<div class="content">
				<span class="header">
					Ooops :-(
				</span>

				<p>Desculpe, mas a página que você tentou acessar não existe ou está indisponível.</p>
			</div>
		</div>
	</div>
</article>