<form class="form-row-seperated" method="post" role="form" action="#" id="myform">
    <div class="row">
        <div class="col-md-3">
            <?php if($this->event !== null):?>
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption font-blue-sharp">
                            <span class="caption-subject bold font-dark uppercase">Evento</span>
                            <span class="caption-helper"><?php echo $this->event !== null ? $this->event->getEvent() : ''?></span>
                        </div>
                    </div>


                    <div class="portlet-body">
                        <?php if($this->event->getDate()->getStartEvent() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input ">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? date_format($this->event->getDate()->getStartEvent(), 'd/m/Y H:m'): null;?>"
                                    disabled
                                    >

                                <label for="">Data Inicial:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event->getDate()->getEndEvent() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? date_format($this->event->getDate()->getEndEvent(), 'd/m/Y H:m'): null;?>"
                                    disabled
                                    >

                                <label for="">Data Final:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event->getDate()->getStartInscription() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? $this->event->getDate()->getStartInscription() !== null ? date_format($this->event->getDate()->getStartInscription(), 'd/m/Y H:m') : null : null;?>"
                                    disabled
                                    >

                                <label for="">Data de abertura das inscrições:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event->getDate()->getEndInscription() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input ">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? $this->event->getDate()->getEndInscription() !== null ? date_format($this->event->getDate()->getEndInscription(), 'd/m/Y H:m') : null : null;?>"
                                    disabled
                                    >

                                <label for="">Data final das inscrições:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event->getDate()->getStartDisclosure() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input ">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? $this->event->getDate()->getStartDisclosure() !== null ? date_format($this->event->getDate()->getStartDisclosure(), 'd/m/Y H:m') : null : null;?>"
                                    disabled
                                    >
                                <label for="">Data de divulgação do evento:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event !== null):?>
                            <div class="form-group form-md-line-input  has-info">
                                <input
                                    id="form_control_1"
                                    type="text"
                                    class="form-control"
                                    name="event"
                                    disabled
                                    value="<?php echo $this->event !== null ? $this->event->getCategory()->getCategory() : null;?>">
                                <label for="event">Categoria:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event !== null):?>
                            <div class="form-group form-md-line-input  has-info">
                                <input
                                    id="form_control_1"
                                    type="text"
                                    class="form-control"
                                    name="event"
                                    disabled
                                    value="<?php echo $this->event !== null ? $this->event->getEventType()->getType() : null;?>">
                                <label for="event">Tipo de evento:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event !== null):?>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-checkboxes">
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox has-success">
                                                <input
                                                    type="checkbox"
                                                    id="active"
                                                    data-toggle="checkbox"
                                                    value="1" name="active"
                                                    <?php echo $this->event->getActive()? 'checked' : null;?>
                                                    disabled>

                                                <label for="active">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    Evento ativo
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group form-md-checkboxes">
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox has-success">
                                                <input
                                                    type="checkbox"
                                                    id="open"
                                                    data-toggle="checkbox"
                                                    value="1"
                                                    name="open"
                                                    <?php echo $this->event->getOpen() ? 'checked' : null;?>
                                                    disabled>

                                                <label for="open">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    Evento aberto
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endif;?>
                    </div>
                </div>
            <?php endif;?>
        </div>

        <div class="col-md-6">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-blue-sharp">
                        <span class="caption-subject bold uppercase">Demandas</span>
                    </div>
                </div>
            </div>

            <div class="portlet light">
                <?php foreach($this->groups as $group) :?>
                    <div class="portlet-title">
                        <div class="caption font-grey-cascade">
                            <span class="caption-subject"><?php echo $group->getGroup()?></span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="margin-bottom-10">

                            <?php foreach($this->items as $item) : ?>
                                <?php if($item->getGroup()->getGroupId() == $group->getGroupId()) :?>

                                    <div id="<?php echo $group->getGroupId();?>"></div>

                                    <?php if($item->getItem() === 'Outros') :?>
                                        <?php foreach($this->checklistItems as $checklistItem):?>
                                            <?php if($item->getItemId() === $checklistItem->getItem()->getItemId()):?>
                                                <div class="md-checkbox-inline">
                                                    <div class="md-checkbox">
                                                        <input
                                                            checked
                                                            type="checkbox"
                                                            id="othersValue[<?php echo $checklistItem->getCheckListId();?>]"
                                                            class="md-check"
                                                            name="othersValue[]"
                                                            value="<?php echo $checklistItem->getDescription();?>"
                                                            data-toogle="checkbox"
                                                            >
                                                        <label for="othersValue[<?php echo $checklistItem->getCheckListId();?>]">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            <?php echo $checklistItem->getDescription()?>
                                                        </label>
                                                        <input
                                                            hidden
                                                            checked
                                                            type="checkbox"
                                                            id=""
                                                            class="md-check"
                                                            name="othersId[]"
                                                            value="<?php echo $item->getItemId();?>"
                                                            data-toogle="checkbox"
                                                            >
                                                    </div>
                                                </div>
                                            <?php endif;?>
                                        <?php endforeach;?>
                                    <?php endif;?>


                                    <?php if($item->getItem() !== 'Outros') :?>
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox">
                                                <input
                                                    type="checkbox"
                                                    id="<?php echo $item->getItemId();?>"
                                                    class="md-check"
                                                    name="items[]"
                                                    data-toogle="checkbox"
                                                    value="<?php echo $item->getItemId();?>"
                                                    <?php
                                                    foreach($this->checklistItems as $checkListItem){
                                                        echo $checkListItem->getItem()->getItemId() == $item->getItemId() ? 'checked' : '' ;
                                                    }
                                                    ?>
                                                    >

                                                <label for="<?php echo $item->getItemId();?>">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    <?php echo $item->getItem();?>
                                                </label>
                                            </div>
                                        </div>
                                    <?php endif;?>


                                    <?php if($item->getItem() === 'Outros'):?>
                                        <div class="form-margin">
                                            <div class="form-margin-bottom-10">
                                                <span class="font-blue-steel">Outros  <a href="#" data-toggle="tooltip" title="teste"><i class="fa fa-question-circle font-yellow-gold" ></i></a></span>
                                            </div>
                                            <span class="form-group form-md-line-input has-info">
                                                <div class="input-group">
                                                    <span class="input-group-btn btn-left">
                                                        <button
                                                            class="btn blue-madison"
                                                            type="button"
                                                            onclick="addOthers('<?php echo $item->getItemId();?>', '<?php echo $group->getGroupId();?>')">
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </button>
                                                    </span>
                                                    <div class="input-group-control">

                                                        <input
                                                            class="form-control"
                                                            type="text"
                                                            value=""
                                                            id="<?php echo 'otherInput' . $item->getItemId();?>"
                                                            >
                                                    </div>
                                                </div>
                                            </span>
                                        </div>


                                    <?php endif;?>


                                <?php endif?>
                            <?php endforeach;?>

                        </div>
                    </div>
                <?php endforeach;?>
                <hr>
                <div class="form-actions noborder">
                    <p class="text-center">
                        <a
                            class="btn btn-default btn-fill btn-wd"
                            href="<?php echo $this->url('demandas', ['idevent' => $this->eventId]) ; ?>"
                            >
                            <i class="fa fa-arrow-left"></i>voltar
                        </a>

                        <button class="btn btn-info btn-fill btn-wd submit-btn" type="submit" data-loading-text="Aguarde...">
                            <i class="fa fa-check"></i>finalizar
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>

<?php
$this
    ->headScript()
    ->appendFile($this->basePath() . '/js/plugins/jquery.form.plugin.3.51.0.js');
?>

<?php $this->inlineScript()->captureStart(); ?>

/**
* Functions Initialize
*/
$(document).ready(function(){
$('[data-toggle="tooltip"]').tooltip();
});

/**
* Form action trigger
*/
$('form').ajaxForm({
dataType: 'json',
type: 'post',
success: function (responseText, statusText, xhr, $form) {
if (! responseText.success) {
swal({
title: 'Oops!',
text: responseText.message,
type: 'error'
});

$('.submit-btn').button('reset');
}

if (responseText.success) {
swal({
title: 'Year!',
text: responseText.message,
type: 'success',
showConfirmButton: false,
allowOutsideClick: false
});

setTimeout(function() {
window.location.href = '/evento_new/demandas/' + responseText.eventId;
}, 1000);
}
}
});

<?php $this->inlineScript()->captureEnd(); ?>
