<div class="ui icon blue message">
    <i class="home icon"></i>
    <div class="content">
        <div class="header">
            Página Inicial
        </div>
        <p>Olá! Seja bem vindo ao sistema adminstrativo de EVENTOS do site da Univiçosa.
        </p>
    </div>
</div>