
<div class="row">
    <div class="col-md-4 col-sm-4">
        <?php if($this->event !== null):?>
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption font-blue-sharp">
                        <span class="caption-subject bold font-dark uppercase">Evento</span>
                        <span class="caption-helper"><?php echo $this->event !== null ? $this->event->getEvent() : ''?></span>
                    </div>
                </div>


                <div class="portlet-body">
                    <?php if($this->event->getDate()->getStartEvent() !== null):?>
                        <div class="date form_datetime form-group form-md-line-input ">
                            <input
                                id=""
                                class="form-control dateStart"
                                type="text"
                                name=""
                                value="<?php echo $this->event !== null ? date_format($this->event->getDate()->getStartEvent(), 'd/m/Y H:m'): null;?>"
                                disabled
                                >

                            <label for="">Data Inicial:</label>
                        </div>
                    <?php endif;?>

                    <?php if($this->event->getDate()->getEndEvent() !== null):?>
                        <div class="date form_datetime form-group form-md-line-input">
                            <input
                                id=""
                                class="form-control dateStart"
                                type="text"
                                name=""
                                value="<?php echo $this->event !== null ? date_format($this->event->getDate()->getEndEvent(), 'd/m/Y H:m'): null;?>"
                                disabled
                                >

                            <label for="">Data Final:</label>
                        </div>
                    <?php endif;?>

                    <?php if($this->event->getDate()->getStartInscription() !== null):?>
                        <div class="date form_datetime form-group form-md-line-input">
                            <input
                                id=""
                                class="form-control dateStart"
                                type="text"
                                name=""
                                value="<?php echo $this->event !== null ? $this->event->getDate()->getStartInscription() !== null ? date_format($this->event->getDate()->getStartInscription(), 'd/m/Y H:m') : null : null;?>"
                                disabled
                                >

                            <label for="">Data de abertura das inscrições:</label>
                        </div>
                    <?php endif;?>

                    <?php if($this->event->getDate()->getEndInscription() !== null):?>
                        <div class="date form_datetime form-group form-md-line-input ">
                            <input
                                id=""
                                class="form-control dateStart"
                                type="text"
                                name=""
                                value="<?php echo $this->event !== null ? $this->event->getDate()->getEndInscription() !== null ? date_format($this->event->getDate()->getEndInscription(), 'd/m/Y H:m') : null : null;?>"
                                disabled
                                >

                            <label for="">Data final das inscrições:</label>
                        </div>
                    <?php endif;?>

                    <?php if($this->event->getDate()->getStartDisclosure() !== null):?>
                        <div class="date form_datetime form-group form-md-line-input ">
                            <input
                                id=""
                                class="form-control dateStart"
                                type="text"
                                name=""
                                value="<?php echo $this->event !== null ? $this->event->getDate()->getStartDisclosure() !== null ? date_format($this->event->getDate()->getStartDisclosure(), 'd/m/Y H:m') : null : null;?>"
                                disabled
                                >
                            <label for="">Data de divulgação do evento:</label>
                        </div>
                    <?php endif;?>

                    <?php if($this->event !== null):?>
                        <div class="form-group form-md-line-input  has-info">
                            <input
                                id="form_control_1"
                                type="text"
                                class="form-control"
                                name="event"
                                disabled
                                value="<?php echo $this->event !== null ? $this->event->getCategory()->getCategory() : null;?>">
                            <label for="event">Categoria:</label>
                        </div>
                    <?php endif;?>

                    <?php if($this->event !== null):?>
                        <div class="form-group form-md-line-input  has-info">
                            <input
                                id="form_control_1"
                                type="text"
                                class="form-control"
                                name="event"
                                disabled
                                value="<?php echo $this->event !== null ? $this->event->getEventType()->getType() : null;?>">
                            <label for="event">Tipo de evento:</label>
                        </div>
                    <?php endif;?>

                    <?php if($this->event !== null):?>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group form-md-checkboxes">
                                    <div class="md-checkbox-inline">
                                        <div class="md-checkbox has-success">
                                            <input
                                                type="checkbox"
                                                id="active"
                                                data-toggle="checkbox"
                                                value="1" name="active"
                                                <?php echo $this->event->getActive()? 'checked' : null;?>
                                                disabled>

                                            <label for="active">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                Evento ativo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group form-md-checkboxes">
                                    <div class="md-checkbox-inline">
                                        <div class="md-checkbox has-success">
                                            <input
                                                type="checkbox"
                                                id="open"
                                                data-toggle="checkbox"
                                                value="1"
                                                name="open"
                                                <?php echo $this->event->getOpen() ? 'checked' : null;?>
                                                disabled>

                                            <label for="open">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                Evento aberto
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endif;?>

                </div>
            </div>
        <?php endif;?>
    </div>

    <div class="col-md-8 col-sm-8">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-blue-sharp">
                    <span class="caption-subject bold font-dark uppercase">Módulos</span>
                    <span class="caption-helper"></span>
                </div>
            </div>

            <div class="portlet-body">
                <?php $count = 1; ?>
                <?php foreach($this->modules as $module): ?>
                    <?php foreach($this->styles as $style):?>
                        <?php if($style->getModule()->getModuleId() === $module->getModule()->getModuleId()):?>
                            <div class="col-md-6 col-sm-6">
                                <div class="mt-widget-3">
                                    <div class="mt-head <?php echo $style->getColor()?>">

                                        <div class="mt-element-step">
                                            <div class="row step-no-background-thin">
                                                <div class="col-md-1 col-sm-1">
                                                    <div class="mt-step-number font-grey"><?php echo $count++?></div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="mt-head-icon">
                                            <i class="fa <?php echo $style->getIcon()?>"></i>
                                        </div>
                                        <br>
                                        <div class="mt-head-desc"> <?php echo $style->getDescription()?> </div>
                                        <span class="mt-head-date"><?php echo $module->getModule()->getModule()?></span>
                                        <div class="mt-head-button">
                                            <a
                                                href="<?php echo $this->url($module->getModule()->getAction(), ['idevent' => $this->event->getEventId()]);?>"
                                                class="btn btn-circle btn-outline white btn-sm"
                                                type="button">
                                                Preencher
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endif?>
                    <?php endforeach?>
                <?php endforeach;?>
                <div class="row"></div>
            </div>
        </div>
    </div>
</div>