<?php
echo $this->headScript()->appendFile($this->basePath() . '/js/RemoveEvent.js');
?>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-blue-sharp">
                    <i class="fa fa-tasks font-blue-sharp"></i>
                    <span class="caption-subject bold uppercase">Eventos</span>
                    <span class="caption-helper">Itens Cadastrados</span>
                </div>
            </div>

            <div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped table-advance flip-content">
                    <thead class="flip-content">
                    <tr>
                        <th><strong>Evento</strong></th>
                        <th class="center-table-column"><strong>Data Inicial</strong></th>
                        <th class="center-table-column"><strong>Ativo</strong></th>
                        <th class="center-table-column"><strong>Ações</strong></th>
                    </tr>
                    </thead>

                    <tbody>
                    <?php foreach ($this->events as $event): ?>
                        <tr>
                            <td class="">
                                <strong>
                                    <a href="<?php echo $this->url('modulos', ['idevent' => $event->getEventId()]);?>">
                                        <?php echo $event->getEvent(); ?>
                                    </a>
                                </strong>
                            </td>
                            <td class="center-table-column">
                                <?php echo date_format($event->getDate()->getStartEvent(), 'd/m/Y'); ?>
                            </td>
                            <td class="center-table-column">
                                <div class="md-checkbox-inline">
                                    <div class="md-checkbox has-info">
                                        <input
                                            type="checkbox"
                                            class="md-check"
                                            id="<?php echo $event->getEventId(); ?>"
                                            onchange="activateEvent(this, '<?php echo $event->getEventId(); ?>')"
                                            <?php echo $event->getActive() === true ? 'checked' : null; ?>
                                            >
                                        <label for="<?php echo $event->getEventId(); ?>">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td class="center-table-column">
                                <div class="btn-group btn-group-circle">
                                    <a
                                        class="btn btn-sm purple"
                                        href="<?php echo $this->url('modulos', ['idevent' => $event->getEventId()]); ?>"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="editar evento">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                    <button
                                        class="btn btn-sm btn-outline btn-default"
                                        onclick="clickDisplayModalConfirm('<?php echo $event->getEventId(); ?>')"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="remover evento">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    <?php endforeach;?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>