
<div class="row">
    <div class="col-md-4">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-blue-sharp">
                    <span class="caption-subject bold font-dark uppercase">Evento</span>
                    <span class="caption-helper"><?php echo $this->event->getEvent() ;?></span>
                </div>
            </div>


            <div class="portlet-body">
                <div class="date form_datetime form-group form-md-line-input ">
                    <input
                        id="dataInicial"
                        class="form-control dateStart"
                        type="text"
                        name="dataInicial"
                        value="<?php echo $this->event !== null ? date_format($this->event->getDate()->getStartEvent(), 'd/m/Y H:i') : null;?>"
                        disabled
                        >

                    <label for="dataInicial">Data Inicial:</label>
                </div>



                <div class="date form_datetime form-group form-md-line-input">
                    <input
                        id="dataFinal"
                        class="form-control dateStart"
                        type="text"
                        name="dataFinal"
                        value="<?php echo $this->event !== null ? date_format($this->event->getDate()->getEndEvent(), 'd/m/Y H:i') : null;?>"
                        disabled
                        >

                    <label for="dataFinal">Data Final:</label>
                </div>

                <div class="date form_datetime form-group form-md-line-input">
                    <input
                        id="dataInicialInscricao"
                        class="form-control dateStart"
                        type="text"
                        name="dataInicialInscricao"
                        value="<?php echo $this->event->getDate()->getStartInscription() !== null ? date_format($this->event->getDate()->getStartInscription(), 'd/m/Y H:m') : null;?>"
                        disabled
                        >

                    <label for="dataInicialInscricao">Data de abertura das inscrições:</label>
                </div>

                <div class="date form_datetime form-group form-md-line-input ">
                    <input
                        id="dataFinalInscricao"
                        class="form-control dateStart"
                        type="text"
                        name="dataFinalInscricao"
                        value="<?php echo $this->event->getDate()->getEndInscription() !== null ? date_format($this->event->getDate()->getEndInscription(), 'd/m/Y H:m') : null;?>"
                        disabled
                        >

                    <label for="dataFinal">Data de encerramento das inscrições:</label>
                </div>

                <div class="date form_datetime form-group form-md-line-input ">
                    <input
                        id="dataDivulgacao"
                        class="form-control dateStart"
                        type="text"
                        name="dataDivulgacao"
                        value="<?php echo $this->event->getDate()->getStartDisclosure() ? date_format($this->event->getDate()->getStartDisclosure(), 'd/m/Y H:m') : null;?>"
                        disabled
                        >
                    <label for="dataFinal">Data de divulgação do evento:</label>
                </div>

                <div class="form-group form-md-line-input  has-info">
                    <input
                        id="form_control_1"
                        type="text"
                        class="form-control"
                        name="event"
                        disabled
                        value="<?php echo $this->event !== null ? $this->event->getCategory()->getCategory() : null;?>">
                    <label for="event">Categoria:</label>
                </div>

                <div class="form-group form-md-line-input  has-info">
                    <input
                        id="form_control_1"
                        type="text"
                        class="form-control"
                        name="event"
                        disabled
                        value="<?php echo $this->event !== null ? $this->event->getEventType()->getType() : null;?>">
                    <label for="event">Tipo de evento:</label>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-checkboxes">
                            <div class="md-checkbox-inline">
                                <div class="md-checkbox has-success">
                                    <input
                                        type="checkbox"
                                        id="active"
                                        data-toggle="checkbox"
                                        value="1" name="active"
                                        <?php echo $this->event->getActive()? 'checked' : null;?>
                                        disabled>

                                    <label for="active">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Evento ativo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group form-md-checkboxes">
                            <div class="md-checkbox-inline">
                                <div class="md-checkbox has-success">
                                    <input
                                        type="checkbox"
                                        id="open"
                                        data-toggle="checkbox"
                                        value="1"
                                        name="open"
                                        <?php echo $this->event->getOpen() ? 'checked' : null;?>
                                        disabled>

                                    <label for="open">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Evento aberto
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-blue-sharp">
                    <span class="caption-subject bold font-dark uppercase">Módulos</span>
                    <span class="caption-helper">default option...</span>
                </div>
            </div>

            <div class="portlet-body">


                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-purple-intense">
                                <div class="mt-head-icon">
                                    <i class="fa fa-file-o"></i>
                                </div>
                                <div class="mt-head-desc"> Formulário inicial de entrada dos dados. </div>
                                <span class="mt-head-date">Dados Básicos</span>
                                <div class="mt-head-button">
                                    <a href="<?php echo $this->url('evento/adicionar', ['idevent' => $this->event->getEventId()]);?>" class="btn btn-circle btn-outline white btn-sm" type="button">Editar</a>
                                </div>
                            </div>
                        </div>
                    </div>


            </div>
        </div>
    </div>
</div>