<?php
echo $this->headScript()->appendFile($this->basePath() . '/js/RemoveActivity.js');
?>

<div class="row">
    <div class="col-md-12">
        <div class="margin-bottom-10">
            <a class="btn btn-primary" href="<?php echo $this->url('atividade/adicionar-editar', ['idevent' => $this->idEvent])?>">adicionar atividade</a>
        </div>

        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-blue-sharp">
                    <i class="fa fa-tasks font-blue-sharp"></i>
                    <span class="caption-sbject bold uppercase">Atividades</span>
                    <span class="caption-helper">Itens Cadastrados</span>
                </div>

                <div class="portlet-body flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                        <tr>
                            <th>Nome</th>
                            <th class="center-table-column">Ministrador</th>
                            <th class="center-table-column">Data da atividade</th>
                            <th class="center-table-column">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach($this->activities as $activity):?>
                            <tr>
                                <td><?php echo $activity->getName()?></td>
                                <td class="center-table-column"><?php echo $activity->getTrator();?></td>
                                <td class="center-table-column"><?php echo date_format($activity->getDate(), 'd/m/Y H:i');?></td>
                                <td class="center-table-column">
                                    <div class="btn-group btn-group-circle">
                                        <a
                                            class="btn btn-sm btn-outline purple"
                                            href="<?php echo $this->url('atividade/adicionar-editar', ['idevent' => $activity->getEvent()->getEventId(), 'idactivity' => $activity->getActivityId()]);?>"
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            title="Editar Atividade">
                                            <span class="fa fa-edit"></span>
                                        </a>
                                        <button
                                            class="btn btn-sm btn-outline red"
                                            onclick="clickDisplayModalConfirm('<?php echo $activity->getActivityId();?>')"
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            title="Deletar Atividade">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        <?php endforeach;?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="margin-bottom-10">
            <a
                class="btn btn-primary"
                href="<?php echo $this->url('modulos', ['idevent' => $this->idEvent]); ?>"
                >
                <i class="fa fa-arrow-left"></i>voltar
            </a>
        </div>
    </div>
</div>