<!DOCTYPE html>
<!--[if IE 8]> <html lang="pt_BR" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="pt_BR" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="pt_BR">
    <head>
        <meta charset="utf-8">

        <!-- Title -->
        <?php
        $NAME_APPLICATION = 'Gestão de Eventos | Univiçosa';

        echo $this
            ->headTitle($NAME_APPLICATION)
            ->setSeparator(' - ')
            ->setAutoEscape(false);
        ?>

        <!-- Meta Head -->
        <?php
        $this
            ->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge,chrome=1')
            ->appendName('description', 'Gestão e criação de eventos promovidos pela Univiçosa')
            ->appendName('robots', 'no-index, no-follow')
            ->appendName('author', 'Setor de Tecnologia da Informação - Univiçosa');
        ?>

        <!-- Favicon -->
        <?php $this->headLink([
            'rel' => 'shortcut icon',
            'type' => 'image/x-icon',
            'href' => 'https://cdn.univicosa.com.br/img/ico.png'
        ]); ?>

        <script src="https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/pace/pace.min.js" type="text/javascript"></script>
        <link href="https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/pace/themes/pace-theme-flash.css" rel="stylesheet" type="text/css">
        <!-- CSS -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,700" rel="stylesheet">

        <?php
        echo $this
            ->headLink()
            ->appendStylesheet($this->basePath() . '/css/style.css')
            ->appendStylesheet($this->basePath() . '/css/animation.css')
            ->prependStylesheet('https://cdn.univicosa.com.br/plugins/sweetalert2/sweetalert2.css')
            ->prependStylesheet('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/layouts/layout2/css/custom.min.css')
            ->prependStylesheet('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/layouts/layout2/css/themes/grey.min.css')
            ->prependStylesheet('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/layouts/layout2/css/layout.min.css')
            ->prependStylesheet('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/css/plugins-md.min.css')
            ->prependStylesheet('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/css/components-md.min.css', 'screen', TRUE, ['id' => 'style_components'])
            ->prependStylesheet('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/bootstrap-toastr/toastr.min.css')
            ->prependStylesheet('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/bootstrap/css/bootstrap.min.css')
            ->prependStylesheet('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/font-awesome/css/font-awesome.min.css');
        ?>
    </head>

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-md page-footer-fixed">
        <?php echo $this->partial('layout/components/navbar'); ?>

        <div class="clearfix"></div>

        <div class="page-container">
            <?php echo $this->partial('layout/components/sidebar'); ?>

            <div class="page-content-wrapper">
                <div class="page-content">
                    <?php echo $this->partial('layout/components/header') ?>

                    <?php echo $this->content; ?>
                </div>
            </div>
        </div>

        <?php echo $this->partial('layout/components/footer'); ?>

        <?php
        echo $this->headScript()
            ->appendFile($this->basePath() . '/js/script.js')
            ->prependFile('https://cdn.univicosa.com.br/plugins/sweetalert2/sweetalert2.min.js')
            ->prependFile('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/layouts/layout2/scripts/layout.min.js')
            ->prependFile('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/scripts/app.min.js')
            ->prependFile('https://cdn.univicosa.com.br/plugins/tinymce/4.3.2/js/tinymce/tinymce.min.js')
            ->prependFile('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/bootstrap-toastr/toastr.min.js')
            ->prependFile('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/bootstrap/js/bootstrap.min.js')
            ->prependFile('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/moment.min.js')
            ->prependFile('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/jquery.min.js')
            ->prependFile('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/respond.min.js', 'text/javascript', ['conditional' => 'lt IE 9'])
            ->prependFile('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/excanvas.min.js', 'text/javascript', ['conditional' => 'lt IE 9']);
        echo $this->inlineScript();
        ?>
    </body>
</html>
