<?php $this
    ->headLink()
    ->appendStylesheet('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/bootstrap-select/css/bootstrap-select.min.css');
?>

<form class="form-row-seperated" method="post" role="form" action="#" id="myform">
    <div class="row">
        <div class="col-md-3">
            <?php if($this->event !== null):?>
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption font-blue-sharp">
                            <span class="caption-subject bold font-dark uppercase">Evento</span>
                            <span class="caption-helper"><?php echo $this->event !== null ? $this->event->getEvent() : ''?></span>
                        </div>
                    </div>


                    <div class="portlet-body">
                        <?php if($this->event->getDate()->getStartEvent() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input ">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? date_format($this->event->getDate()->getStartEvent(), 'd/m/Y H:m'): null;?>"
                                    disabled
                                    >

                                <label for="">Data Inicial:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event->getDate()->getEndEvent() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? date_format($this->event->getDate()->getEndEvent(), 'd/m/Y H:m'): null;?>"
                                    disabled
                                    >

                                <label for="">Data Final:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event->getDate()->getStartInscription() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? $this->event->getDate()->getStartInscription() !== null ? date_format($this->event->getDate()->getStartInscription(), 'd/m/Y H:m') : null : null;?>"
                                    disabled
                                    >

                                <label for="">Data de abertura das inscrições:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event->getDate()->getEndInscription() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input ">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? $this->event->getDate()->getEndInscription() !== null ? date_format($this->event->getDate()->getEndInscription(), 'd/m/Y H:m') : null : null;?>"
                                    disabled
                                    >

                                <label for="">Data final das inscrições:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event->getDate()->getStartDisclosure() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input ">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? $this->event->getDate()->getStartDisclosure() !== null ? date_format($this->event->getDate()->getStartDisclosure(), 'd/m/Y H:m') : null : null;?>"
                                    disabled
                                    >
                                <label for="">Data de divulgação do evento:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event !== null):?>
                            <div class="form-group form-md-line-input  has-info">
                                <input
                                    id="form_control_1"
                                    type="text"
                                    class="form-control"
                                    name="event"
                                    disabled
                                    value="<?php echo $this->event !== null ? $this->event->getCategory()->getCategory() : null;?>">
                                <label for="event">Categoria:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event !== null):?>
                            <div class="form-group form-md-line-input  has-info">
                                <input
                                    id="form_control_1"
                                    type="text"
                                    class="form-control"
                                    name="event"
                                    disabled
                                    value="<?php echo $this->event !== null ? $this->event->getEventType()->getType() : null;?>">
                                <label for="event">Tipo de evento:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event !== null):?>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-checkboxes">
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox has-success">
                                                <input
                                                    type="checkbox"
                                                    id="active"
                                                    data-toggle="checkbox"
                                                    value="1" name="active"
                                                    <?php echo $this->event->getActive()? 'checked' : null;?>
                                                    disabled>

                                                <label for="active">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    Evento ativo
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group form-md-checkboxes">
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox has-success">
                                                <input
                                                    type="checkbox"
                                                    id="open"
                                                    data-toggle="checkbox"
                                                    value="1"
                                                    name="open"
                                                    <?php echo $this->event->getOpen() ? 'checked' : null;?>
                                                    disabled>

                                                <label for="open">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    Evento aberto
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endif;?>

                    </div>
                </div>
            <?php endif;?>
        </div>

        <div class="col-md-6">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-blue-sharp">
                        <span class="caption-subject bold uppercase">Receitas e despesas</span>
                    </div>
                </div>
            </div>

            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-grey-cascade">
                        <span class="caption-subject">Receitas</span>
                    </div>
                </div>

                <?php foreach($this->receitas as $receita) : ?>
                    <?php if($receita->getSubtype() !== 'Outro') :?>
                        <div class="form-group form-md-line-input has-info">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input
                                    id="form_control_1"
                                    class="form-control mask-money-full"
                                    type="text"
                                    name="RevenueExpenditureValue[]"
                                    value="<?php if($this->itemsEstimate !== null){
                                        foreach($this->itemsEstimate as $item){
                                            if ($item->getSubtype()->getSubtypeId() === $receita->getSubtypeId()){
                                                $value = substr($item->getValue(),3);
                                                echo $value;
                                            };
                                        }
                                    }
                                    ?>"
                                    >
                                <label for="form_control_1"><?php echo $receita->getSubtype();?></label>
                            </div>
                            <input
                                hidden
                                checked
                                type="checkbox"
                                id=""
                                class="md-check"
                                name="RevenueExpenditureId[]"
                                value="<?php echo $receita->getSubtypeId();?>"
                                data-toogle="checkbox"
                                >
                        </div>
                    <?php endif;?>

                    <?php if($receita->getSubtype() === 'Outro') :?>
                        <div class="form-margin-bottom-10">
                            <span class="font-blue-steel"><?php echo $receita->getSubtype();?>  <a href="#" data-toggle="tooltip" title="teste"><i class="fa fa-question-circle font-yellow-gold" ></i></a></span>
                        </div>

                        <span class="form-group form-md-line-input has-info ">
                            <div class="input-group">
                                    <span class="input-group-btn btn-left">
                                        <button class="btn blue-madison" type="button" onclick="addRevenueExpenditure('revenue', '<?php echo $receita->getSubtypeId();?>')">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </span>

                                <div class="input-group-control">
                                    <input class="form-control" type="text" value="" id="<?php echo $receita->getSubtypeId();?>">
                                </div>
                            </div>
                        </span>

                        <?php if($this->itemsEstimate !== null) :?>
                            <?php foreach($this->itemsEstimate as $item) :?>
                                <?php if($item->getSubtype()->getSubtypeId() === $receita->getSubtypeId()) :?>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input has-info">
                                                <input
                                                    id="form_control_1"
                                                    class="form-control"
                                                    type="text"
                                                    value="<?php echo $item->getDescription()?>"
                                                    readonly
                                                    name="RevenueExpenditureOthersName[]">
                                                <label for="form_control_1">Outro</label>
                                            </div>
                                        </div>
                                        <input
                                            hidden
                                            name="RevenueExpenditureOthersId[]"
                                            checked type="checkbox"
                                            class="md-check"
                                            value="<?php echo $receita->getSubtypeId()?>"
                                            data-toogle="checkbox">

                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input has-info">
                                                <div class="input-group left-addon right-addon">
                                                    <span class="input-group-addon">$</span>
                                                    <input
                                                        class="form-control mask-money-full"
                                                        type="text"
                                                        name="RevenueExpenditureOthersValue[]"
                                                        value="<?php echo substr($item->getValue(),3) ?>"
                                                        >
                                                    <label for="form_control_1">Valor</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <?php endif;?>
                            <?php endforeach;?>
                        <?php endif;?>

                    <?php endif;?>
                <?php endforeach;?>
                <div id="revenue"></div>




                <div class="portlet-title">
                    <div class="caption font-grey-cascade">
                        <span class="caption-subject">Despesas</span>
                    </div>
                </div>

                <?php foreach($this->despesas as $despesa) : ?>

                    <?php if($despesa->getSubtype() !== 'Outro') :?>
                        <div class="form-group form-md-line-input has-info">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input

                                    id="form_control_1"
                                    class="form-control mask-money-full"
                                    type="text"
                                    name="RevenueExpenditureValue[]"
                                    value="<?php if($this->itemsEstimate !== null){
                                        foreach($this->itemsEstimate as $item){
                                            if ($item->getSubtype()->getSubtypeId() === $despesa->getSubtypeId()){
                                                $value = substr($item->getValue(),3);
                                                echo $value === '0' ? '' : $value;
                                            };
                                        }
                                    }
                                    ?>"
                                    >
                                <label for="form_control_1"><?php echo $despesa->getSubtype();?></label>

                            </div>
                            <input
                                hidden
                                checked
                                type="checkbox"
                                id=""
                                class="md-check"
                                name="RevenueExpenditureId[]"
                                value="<?php echo $despesa->getSubtypeId();?>"
                                data-toogle="checkbox"
                                >
                        </div>
                    <?php endif;?>



                    <?php if($despesa->getSubtype() === 'Outro') :?>
                        <div class="form-margin-bottom-10">
                            <span class="font-blue-steel"><?php echo $despesa->getSubtype();?>  <a href="#" data-toggle="tooltip" title="teste"><i class="fa fa-question-circle font-yellow-gold" ></i></a></span>
                        </div>
                        <span class="form-group form-md-line-input has-info ">
                            <div class="input-group">
                                    <span class="input-group-btn btn-left">
                                        <button class="btn blue-madison" type="button" onclick="addRevenueExpenditure('expenditure', '<?php echo $despesa->getSubtypeId();?>')">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                <div class="input-group-control">
                                    <input class="form-control" type="text" value="" id="<?php echo $despesa->getSubtypeId();?>">
                                </div>
                            </div>
                        </span>

                        <?php if($this->itemsEstimate !== null) :?>
                            <?php foreach($this->itemsEstimate as $item) :?>
                                <?php if($item->getSubtype()->getSubtypeId() === $despesa->getSubtypeId()) :?>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input has-info">
                                                <input
                                                    id="form_control_1"
                                                    class="form-control"
                                                    type="text"
                                                    value="<?php echo $item->getDescription()?>"
                                                    readonly
                                                    name="RevenueExpenditureOthersName[]">
                                                <label for="form_control_1">Outro</label>
                                            </div>
                                        </div>
                                        <input
                                            hidden
                                            name="RevenueExpenditureOthersId[]"
                                            checked type="checkbox"
                                            class="md-check"
                                            value="<?php echo $despesa->getSubtypeId()?>"
                                            data-toogle="checkbox">

                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input has-info">
                                                <div class="input-group left-addon right-addon">
                                                    <span class="input-group-addon">$</span>
                                                    <input
                                                        class="form-control mask-money-full"
                                                        type="text"
                                                        name="RevenueExpenditureOthersValue[]"
                                                        value="<?php echo substr($item->getValue(),3) ?>"
                                                        >

                                                    <label for="form_control_1">Valor</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <?php endif;?>
                            <?php endforeach;?>
                        <?php endif;?>
                    <?php endif;?>
                <?php endforeach;?>
                <div id="expenditure"></div>

                <hr>
                <div class="portlet-body">
                    <div class="form-actions noborder">
                        <p class="text-center">
                            <a class="btn btn-default btn-fill btn-wd" href="<?php echo $this->url('modulos', ['idevent' => $this->eventId]);?>">
                                <i class="fa fa-arrow-left"></i>voltar
                            </a>

                            <button class="btn btn-info btn-fill btn-wd submit-btn" type="submit" data-loading-text="Aguarde...">
                                <i class="fa fa-check"></i>finalizar
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<?php
$this
    ->headScript()
    ->appendFile($this->basePath() . '/js/plugins/jquery.form.plugin.3.51.0.js')
    ->appendFile('https://cdn.univicosa.com.br/plugins/jquery.mask/1.6.5/jquery.mask.js');
?>
<?php $this->inlineScript()->captureStart(); ?>
/**
* Functions Initialize
*/
$(document).ready(function(){
$('[data-toggle="tooltip"]').tooltip();
});

/**
* Form action trigger
*/
$('form').ajaxForm({
dataType: 'json',
type: 'post',
success: function (responseText, statusText, xhr, $form) {
if (! responseText.success) {
swal({
title: 'Oops!',
text: responseText.message,
type: 'error'
});

$('.submit-btn').button('reset');
}

if (responseText.success) {
swal({
title: 'Year!',
text: responseText.message,
type: 'success',
showConfirmButton: false,
allowOutsideClick: false
});

setTimeout(function() {
window.location.href = '/evento_new/modulos/' + responseText.eventId;
}, 1000);
}
}
});

<?php $this->inlineScript()->captureEnd(); ?>

