<?php $this
    ->headLink()
    ->appendStylesheet('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/bootstrap-select/css/bootstrap-select.min.css')
    ->prependStylesheet('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist//global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css');
?>


<form class="form-row-seperated" method="post" role="form" action="#" id="myform">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <?php if($this->event !== null):?>
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption font-blue-sharp">
                            <span class="caption-subject bold font-dark uppercase">Evento</span>
                            <span class="caption-helper"><?php echo $this->event !== null ? $this->event->getEvent() : ''?></span>
                        </div>
                    </div>


                    <div class="portlet-body">
                        <?php if($this->event->getDate()->getStartEvent() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input ">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? date_format($this->event->getDate()->getStartEvent(), 'd/m/Y H:m'): null;?>"
                                    disabled
                                    >

                                <label for="">Data Inicial:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event->getDate()->getEndEvent() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? date_format($this->event->getDate()->getEndEvent(), 'd/m/Y H:m'): null;?>"
                                    disabled
                                    >

                                <label for="">Data Final:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event->getDate()->getStartInscription() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? $this->event->getDate()->getStartInscription() !== null ? date_format($this->event->getDate()->getStartInscription(), 'd/m/Y H:m') : null : null;?>"
                                    disabled
                                    >

                                <label for="">Data de abertura das inscrições:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event->getDate()->getEndInscription() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input ">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? $this->event->getDate()->getEndInscription() !== null ? date_format($this->event->getDate()->getEndInscription(), 'd/m/Y H:m') : null : null;?>"
                                    disabled
                                    >

                                <label for="">Data final das inscrições:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event->getDate()->getStartDisclosure() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input ">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? $this->event->getDate()->getStartDisclosure() !== null ? date_format($this->event->getDate()->getStartDisclosure(), 'd/m/Y H:m') : null : null;?>"
                                    disabled
                                    >
                                <label for="">Data de divulgação do evento:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event !== null):?>
                            <div class="form-group form-md-line-input  has-info">
                                <input
                                    id="form_control_1"
                                    type="text"
                                    class="form-control"
                                    name="event"
                                    disabled
                                    value="<?php echo $this->event !== null ? $this->event->getCategory()->getCategory() : null;?>">
                                <label for="event">Categoria:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event !== null):?>
                            <div class="form-group form-md-line-input  has-info">
                                <input
                                    id="form_control_1"
                                    type="text"
                                    class="form-control"
                                    name="event"
                                    disabled
                                    value="<?php echo $this->event !== null ? $this->event->getEventType()->getType() : null;?>">
                                <label for="event">Tipo de evento:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event !== null):?>
                            <div class="row">
                                <div class="col-md-6 col-sm-8">
                                    <div class="form-group form-md-checkboxes">
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox has-success">
                                                <input
                                                    type="checkbox"
                                                    id="active"
                                                    data-toggle="checkbox"
                                                    value="1" name="active"
                                                    <?php echo $this->event->getActive()? 'checked' : null;?>
                                                    disabled>

                                                <label for="active">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    Evento ativo
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-8">
                                    <div class="form-group form-md-checkboxes">
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox has-success">
                                                <input
                                                    type="checkbox"
                                                    id="open"
                                                    data-toggle="checkbox"
                                                    value="1"
                                                    name="open"
                                                    <?php echo $this->event->getOpen() ? 'checked' : null;?>
                                                    disabled>

                                                <label for="open">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    Evento aberto
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endif;?>

                    </div>
                </div>
            <?php endif;?>
        </div>


        <div class="col-md-6 col-sm-8">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-blue-sharp">
                        <span class="caption-subject bold uppercase">Formulário Básico</span>
                    </div>
                </div>
            </div>

            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-grey-cascade">
                        Nome e categorização
                    </div>
                </div>
                <div class="form-margin-bottom">
                    <div class="portlet-body">
                        <span class="form-group form-md-line-input has-info">
                            <span class="font-blue-steel">Nome do evento <a href="#" data-toggle="tooltip" title=""><i class="fa fa-question-circle font-yellow-gold" ></i></a></span>
                            <input
                                onkeypress="mascara(this, voidExclude)"
                                id="form_control_1"
                                type="text"
                                class="form-control"
                                name="event"
                                required
                                value="<?php echo $this->event !== null ? $this->event->getEvent() : null;?>">
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-margin-bottom-10">
                        <span class="font-blue-steel">Categoria do evento <a href="#" data-toggle="tooltip" title="teste"><i class="fa fa-question-circle font-yellow-gold" ></i></a></span>
                    </div>
                    <div class="btn-group bootstrap-select bs-select form-control">
                        <select
                            name="categoryId"
                            id="categoryId"
                            class="bs-select form-control"
                            required
                            >
                            <option value="">Escolha a categoria...</option>
                            <?php foreach($this->categories as $category) :?>
                                <option
                                    value="<?php echo $category->getCategoryId();?>"
                                    <?php echo $this->event ? $this->event->getCategory()->getCategoryId() === $category->getCategoryId() ? 'selected': null : null;?>
                                    >
                                    <?php echo $category->getCategory();?>
                                </option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-margin-bottom-10">
                        <span class="font-blue-steel">Tipo do evento <a href="#" data-toggle="tooltip" title="teste"><i class="fa fa-question-circle font-yellow-gold" ></i></a></span>
                    </div>
                    <div class="btn-group bootstrap-select bs-select form-control">
                        <select
                            name="eventTypeId"
                            id="eventTypeId"
                            class="bs-select form-control"
                            required
                            >
                            <option value="">Escolha o tipo de evento...</option>
                            <?php foreach($this->eventTypes as $eventType) :?>
                                <option
                                    value="<?php echo $eventType->getEventTypeId();?>"
                                    <?php echo $this->event ? $this->event->getEventType()->getEventTypeId() === $eventType->getEventTypeId() ? 'selected': null : null;?>
                                    >
                                    <?php echo $eventType->getType();?>
                                </option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>

                <div class="portlet-title">
                    <div class="caption font-grey-cascade">
                        Datas
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-margin-bottom">
                        <span class="date form_datetime form-group form-md-line-input has-info">
                            <span class="font-blue-steel">Data inicial do evento <a href="#" data-toggle="tooltip" title="teste"><i class="fa fa-question-circle font-yellow-gold" ></i></a></span>
                        <input
                            id="dataInicial"
                            class="form-control dateStart"
                            type="text"
                            name="dataInicial"
                            value="<?php echo $this->event !== null ? date_format($this->event->getDate()->getStartEvent(), 'd/m/Y H:i') : null;?>"
                            required
                            >
                    </span>
                    </div>

                    <div class="form-margin">
                        <span class="date form_datetime form-group form-md-line-input has-info">
                        <span class="font-blue-steel">Data final do evento <a href="#" data-toggle="tooltip" title="teste"><i class="fa fa-question-circle font-yellow-gold" ></i></a></span>
                        <input
                            id="dataFinal"
                            class="form-control dateStart"
                            type="text"
                            name="dataFinal"
                            value="<?php echo $this->event !== null ? date_format($this->event->getDate()->getEndEvent(), 'd/m/Y H:i') : null;?>"
                            required
                            >
                    </span>
                    </div>
                </div>
                <hr>
                <div class="form-actions noborder">
                    <p class="text-center">
                        <a
                            class="btn btn-default btn-fill btn-wd"
                            href="<?php echo $this->event !== null ? $this->url('modulos', ['idevent' => $this->event->getEventId()]) : $this->url('eventos'); ?>"
                            >
                            <i class="fa fa-arrow-left"></i>voltar
                        </a>


                        <button class="btn btn-info btn-fill btn-wd submit-btn" type="submit" data-loading-text="Aguarde...">
                            <i class="fa fa-check"></i>finalizar
                        </button>
                    </p>
                </div>


</form>

<?php
$this
    ->headScript()
    ->appendFile($this->basePath() . '/js/plugins/jquery.form.plugin.3.51.0.js')
    ->appendFile('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/bootstrap-select/js/bootstrap-select.min.js')
    ->appendFile('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/pages/scripts/components-bootstrap-select.min.js')
    ->appendFile('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js')
    ->appendFile($this->basePath() . '/js/jquery.mask.js')
    ->appendFile($this->basePath() . '/js/startDateTime.js');
?>

<?php $this->inlineScript()->captureStart(); ?>
/**
* Functions Initialize
*/
$(document).ready(function(){
$('[data-toggle="tooltip"]').tooltip();
});

/**
* Form action trigger
*/
$('form').ajaxForm({
dataType: 'json',
type: 'post',
success: function (responseText, statusText, xhr, $form) {
if (! responseText.success) {
swal({
title: 'Oops!',
text: responseText.message,
type: 'error'
});

$('.submit-btn').button('reset');
}

if (responseText.success) {
swal({
title: 'Year!',
text: responseText.message,
type: 'success',
showConfirmButton: false,
allowOutsideClick: false
});

setTimeout(function() {
if(responseText.chooseModels){
window.location.href = '/evento_new/modulo/selecao/' + responseText.eventId;
}

if(!responseText.chooseModels){
window.location.href = '/evento_new/modulos/' + responseText.eventId;
}
}, 1000);
}
}
});

<?php $this->inlineScript()->captureEnd(); ?>
