<?php $this
    ->headLink()
    ->appendStylesheet('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/bootstrap-select/css/bootstrap-select.min.css')
    ->prependStylesheet('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist//global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css');

$activity = $this->activity !== null ? $this->activity : false;
?>


<form class="form-row-seperated" method="post" role="form" action="#" id="myform">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <?php if($this->event !== null):?>
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption font-blue-sharp">
                            <span class="caption-subject bold font-dark uppercase">Evento</span>
                            <span class="caption-helper"><?php echo $this->event !== null ? $this->event->getEvent() : ''?></span>
                        </div>
                    </div>


                    <div class="portlet-body">
                        <?php if($this->event->getDate()->getStartEvent() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input ">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? date_format($this->event->getDate()->getStartEvent(), 'd/m/Y H:m'): null;?>"
                                    disabled
                                    >

                                <label for="">Data Inicial:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event->getDate()->getEndEvent() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? date_format($this->event->getDate()->getEndEvent(), 'd/m/Y H:m'): null;?>"
                                    disabled
                                    >

                                <label for="">Data Final:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event->getDate()->getStartInscription() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? $this->event->getDate()->getStartInscription() !== null ? date_format($this->event->getDate()->getStartInscription(), 'd/m/Y H:m') : null : null;?>"
                                    disabled
                                    >

                                <label for="">Data de abertura das inscrições:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event->getDate()->getEndInscription() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input ">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? $this->event->getDate()->getEndInscription() !== null ? date_format($this->event->getDate()->getEndInscription(), 'd/m/Y H:m') : null : null;?>"
                                    disabled
                                    >

                                <label for="">Data final das inscrições:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event->getDate()->getStartDisclosure() !== null):?>
                            <div class="date form_datetime form-group form-md-line-input ">
                                <input
                                    id=""
                                    class="form-control dateStart"
                                    type="text"
                                    name=""
                                    value="<?php echo $this->event !== null ? $this->event->getDate()->getStartDisclosure() !== null ? date_format($this->event->getDate()->getStartDisclosure(), 'd/m/Y H:m') : null : null;?>"
                                    disabled
                                    >
                                <label for="">Data de divulgação do evento:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event !== null):?>
                            <div class="form-group form-md-line-input  has-info">
                                <input
                                    id="form_control_1"
                                    type="text"
                                    class="form-control"
                                    name="event"
                                    disabled
                                    value="<?php echo $this->event !== null ? $this->event->getCategory()->getCategory() : null;?>">
                                <label for="event">Categoria:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event !== null):?>
                            <div class="form-group form-md-line-input  has-info">
                                <input
                                    id="form_control_1"
                                    type="text"
                                    class="form-control"
                                    name="event"
                                    disabled
                                    value="<?php echo $this->event !== null ? $this->event->getEventType()->getType() : null;?>">
                                <label for="event">Tipo de evento:</label>
                            </div>
                        <?php endif;?>

                        <?php if($this->event !== null):?>
                            <div class="row">
                                <div class="col-md-6 col-sm-8">
                                    <div class="form-group form-md-checkboxes">
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox has-success">
                                                <input
                                                    type="checkbox"
                                                    id="active"
                                                    data-toggle="checkbox"
                                                    value="1" name="active"
                                                    <?php echo $this->event->getActive()? 'checked' : null;?>
                                                    disabled>

                                                <label for="active">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    Evento ativo
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-8">
                                    <div class="form-group form-md-checkboxes">
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox has-success">
                                                <input
                                                    type="checkbox"
                                                    id="open"
                                                    data-toggle="checkbox"
                                                    value="1"
                                                    name="open"
                                                    <?php echo $this->event->getOpen() ? 'checked' : null;?>
                                                    disabled>

                                                <label for="open">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    Evento aberto
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endif;?>

                    </div>
                </div>
            <?php endif;?>

        </div>

        <div class="col-md-6 col-sm-8">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-blue-sharp">
                        <span class="caption-subject bold uppercase">Formulário da Atividade</span>
                    </div>
                </div>

                <div class="portlet-title">
                    <div class="caption font-grey-cascade">
                        <span class="caption-subject  ">Ordem cronológica das etapas do evento</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="cd-horizontal-timeline mt-timeline-horizontal loaded " data-spacing="0">
                        <div class="timeline">
                            <div class="events-wrapper">
                                <div class="events" style="width: 715px;">
                                    <ol>
                                        <li>
                                            <a class="border-after-red bg-after-red" data-date="16/01/2014" href="#0" style="left: -0px;">divulgação</a>
                                        </li>
                                        <li>
                                            <a class="border-after-red bg-after-red" data-date="28/02/2014" href="#0" style="left: 80px;">abertura das inscrições</a>
                                        </li>
                                        <li>
                                            <a class="border-after-red bg-after-red" data-date="20/04/2014" href="#0" style="left: 240px;">fechamento das inscrições</a>
                                        </li>
                                        <li>
                                            <a class="border-after-red bg-after-red" data-date="20/05/2014" href="#0" style="left: 420px;">abertura do evento</a>
                                        </li>
                                        <li>
                                            <a class="border-after-red bg-after-red" data-date="09/07/2014" href="#0" style="left: 550px;">atividades</a>
                                        </li>
                                        <li>
                                            <a class="border-after-red bg-after-red" data-date="09/07/2014" href="#0" style="left: 630px;">fim do evento</a>
                                        </li>
                                    </ol>
                                    <span class="" aria-hidden="true" style="transform: scaleX(0.1769259);"></span>
                                </div>
                            </div>
                            <ul class="cd-timeline-navigation mt-ht-nav-icon">
                                <li>
                                    <a class="prev inactive btn btn-outline red md-skip" href="#0">
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="next btn btn-outline red md-skip" href="#0">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-grey-cascade">
                        <span class="caption-subject">Nome ,data e valor da atividade</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-margin-bottom">
                        <span class="font-blue-steel">Nome da atividade <a href="#" data-toggle="tooltip" title="teste"><i class="fa fa-question-circle font-yellow-gold" ></i></a></span>
                    <span class="form-group form-md-line-input has-info">
                        <input
                            id="form_control_1"
                            type="text"
                            class="form-control"
                            name="name"
                            onkeypress="mascara(this, voidExclude)"
                            required
                            value="<?php echo !$this->activity ? '' : $this->activity->getName() ;?>">
                    </span>
                    </div>

                    <div class="form-margin">
                        <span class="font-blue-steel">Data da atividade <a href="#" data-toggle="tooltip" title="teste"><i class="fa fa-question-circle font-yellow-gold" ></i></a></span>
                        <span class="date form_datetime form-group form-md-line-input has-info">
                            <input
                                id="dataInicial"
                                class="form-control dateStart"
                                type="text"
                                name="date"
                                value="<?php echo !$this->activity ? null : date_format($this->activity->getDate(), 'd/m/Y H:i') ;?>"
                                required
                                >
                        </span>
                    </div>

                    <div class="form-margin">
                        <span class="form-group form-md-line-input has-info ">
                        <span class="font-blue-steel">Valor da inscrição <a href="#" data-toggle="tooltip" title="teste"><i class="fa fa-question-circle font-yellow-gold" ></i></a></span>

                        <div class="input-group left-addon right-addon">
                            <span class="input-group-addon">$</span>
                            <input
                                class="form-control mask-money-full"
                                type="text"
                                name="value"
                                value="<?php echo !$this->activity ? '' : substr($this->activity->getValue(),3);?>"
                                required
                                >
                        </div>
                    </span>
                    </div>
                </div>

                <div class="portlet-title">
                    <div class="caption font-grey-cascade">
                        <span class="caption-subject">Vagas</span>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-margin-bottom">
                        <span class="font-blue-steel">N° de vagas para os participantes <a href="#" data-toggle="tooltip" title="teste"><i class="fa fa-question-circle font-yellow-gold" ></i></a></span>
                    <span class="form-group form-md-line-input has-info">
                        <input
                            required
                            onkeypress="mascara(this, maskOnlyNumber)"
                            class="form-control"
                            type="text"
                            value="<?php echo $this->vacancies !== null ? $this->vacancies->getParticipant() : ''?>"
                            name="participant">
                    </span>
                    </div>

                    <div class="form-margin">
                        <span class="font-blue-steel">N° de vagas para os convidados <a href="#" data-toggle="tooltip" title="teste"><i class="fa fa-question-circle font-yellow-gold" ></i></a></span>
                    <span class="form-group form-md-line-input has-info">
                        <input
                            required
                            onkeypress="mascara(this, maskOnlyNumber)"
                            class="form-control"
                            type="text"
                            value="<?php echo $this->vacancies !== null ? $this->vacancies->getGuest() : ''?>"
                            name="guest">
                    </span>
                    </div>
                </div>

                <div class="portlet-title">
                    <div class="caption font-grey-cascade">
                        <span class="caption-subject">Tipo e descrição da atividade</span>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-group">

                        <div class="form-margin-bottom-10">
                            <span class="font-blue-steel">N° de vagas para os convidados <a href="#" data-toggle="tooltip" title="teste"><i class="fa fa-question-circle font-yellow-gold" ></i></a></span>
                        </div>
                        <div class="btn-group bootstrap-select bs-select form-control">
                            <select
                                name="activityTypeId"
                                id="activityType"
                                class="bs-select form-control"
                                required
                                >
                                <option value="">Escolha o tipo da atividade...</option>
                                <?php foreach($this->activityTypes as $activityType) : ?>
                                    <option
                                        value="<?php echo $activityType->getActivityTypeId()?>"
                                        <?php echo !$this->activity ? null : $this->activity->getActivityType()->getActivityTypeId() == $activityType->getActivityTypeId() ? 'selected' : null;?>
                                        ><?php echo $activityType->getType()?></option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group form-md-line-input ">
                        <div class="form-margin-bottom-10">
                            <span class="font-blue-steel">Descrição <a href="#" data-toggle="tooltip" title="teste"><i class="fa fa-question-circle font-yellow-gold" ></i></a></span>
                        </div>

                            <textarea
                                class="mce-content-body"
                                placeholder="descrição do evento"
                                name="description"
                                id="text-id-2"
                                cols="30"
                                rows="5"
                                >
                                <?php echo !$this->activity ? null : $this->activity->getDescription() ?>
                            </textarea>
                    </div>
                </div>

                <hr>
                <div class="form-actions noborder">
                    <p class="text-center">
                        <a
                            href="<?php echo $this->url('atividades', ['idevent' => $this->event->getEventId()])?>"
                            class="btn btn-default btn-fill btn-wd"
                        <i class="fa fa-arrow-left"></i>voltar
                        </a>

                        <button class="btn btn-info btn-fill btn-wd submit-btn" type="submit" data-loading-text="Aguarde...">
                            <i class="fa fa-check"></i>finalizar
                        </button>
                    </p>
                </div>
            </div>
        </div>

</form>

<?php
$this
    ->headScript()
    ->appendFile($this->basePath() . '/js/plugins/jquery.form.plugin.3.51.0.js')
    ->appendFile('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js')
    ->appendFile('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/bootstrap-select/js/bootstrap-select.min.js')
    ->appendFile('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/pages/scripts/components-bootstrap-select.min.js')
    ->appendFile('https://cdn.univicosa.com.br/plugins/metronic/4.5.6/dist/global/plugins/horizontal-timeline/horozontal-timeline.js')
    ->appendFile('https://cdn.univicosa.com.br/plugins/jquery.mask/1.6.5/jquery.mask.js')
    ->appendFile($this->basePath() . '/js/jquery.mask.js')
    ->appendFile($this->basePath() . '/js/ConfigTinymce.js')
    ->appendFile($this->basePath() . '/js/startDateTime.js');
?>

<?php $this->inlineScript()->captureStart(); ?>
/**
* Functions Initialize
*/
(function() {
ConfigTinymce();
$('[data-toggle="tooltip"]').tooltip();
})();

/**
* Form action trigger
*/
$('form').ajaxForm({
dataType: 'json',
type: 'post',
success: function (responseText, statusText, xhr, $form) {
if (! responseText.success) {
swal({
title: 'Oops!',
text: responseText.message,
type: 'error'
});

$('.submit-btn').button('reset');
}

if (responseText.success) {
swal({
title: 'Year!',
text: responseText.message,
type: 'success',
showConfirmButton: false,
allowOutsideClick: false
});

setTimeout(function() {
window.location.href = '/evento_new/atividades/' +  responseText.eventId;
}, 1000);
}
}
});

<?php $this->inlineScript()->captureEnd(); ?>
