<?php
echo $this->headScript()
    ->appendFile($this->basePath() . '/js/wizard.js');
?>

<div class="page-container">
    <div class="portlet light" style="margin-top: -30px">
        <div class="portlet-title">
            <div class="caption font-blue-sharp">
                <span class="caption-subject bold uppercase">Seleção</span>
            </div>
        </div>

        <div class="portlet light portlet-fit">
            <div class="portlet-body" id="helper-1">
                <div class="mt-element-step">
                    <div class="row step-line">
                        <div class="col-md-2 col-sm-2 mt-step-col first done">
                            <button class="mt-step-number bg-white">1</button>
                            <div class="mt-step-title uppercase font-grey-cascade">Form. Básico</div>
                            <div class="mt-step-content font-grey-cascade"></div>
                        </div>

                        <?php $titles = []; ?>
                        <?php $count = 2; ?>
                        <?php foreach ($this->steps as $step) : ?>
                            <?php $titles[] = $step->getModule()->getModule(); ?>
                            <div class="col-md-2 col-sm-2 mt-step-col " id="<?php echo 'nav-tab-' . $count ?>">
                                <button class="mt-step-number bg-white"><?php echo $count++; ?></button>
                                <div
                                    class="mt-step-title uppercase font-grey-cascade"><?php echo $step->getModule()->getModule(); ?></div>
                            </div>
                        <?php endforeach; ?>

                        <div id="<?php echo 'nav-tab-' . $count ?>" class="col-md-2 col-sm-2 mt-step-col last">
                            <button class="mt-step-number bg-white"><?php echo $count ?></button>
                            <div class="mt-step-title uppercase font-grey-cascade">Finalizar</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light portlet-fit">
        <div class="portlet-body" id="helper-2">
                <div class="tab-content">
                    <?php
                    $count = 2;
                    $countTitle = 0;; ?>
                    <?php $max = count($this->steps); ?>
                    <?php foreach ($this->steps as $step): ?>
                        <div class="tab-pane" id="<?php echo 'tab' . $count ?>">
                            <div class="text-in">
                                <h4 class="caption-subject bold font-green"> <?php echo $titles[$countTitle] ?> </h4>
                                <hr>
                                <?php echo $step->getQuestion(); ?>
                                <hr>
                            </div>
                            <p class="text-center">
                                <button
                                    class="btn btn-circle red-sunglo"
                                    type="button"
                                    onclick="next(<?php echo $max; ?>, <?php echo $count; ?>, false, '<?php echo $step->getWizardId(); ?>', '<?php echo $titles[$countTitle] ?>')"
                                >
                                    Não <i class="fa fa-remove"></i>
                                </button>
                                <button
                                    class="btn btn-circle green-meadow"
                                    type="button"
                                    onclick="next(<?php echo $max; ?>, <?php echo $count++; ?>, true, '<?php echo $step->getWizardId(); ?>', '<?php echo $titles[$countTitle++] ?>')"
                                >
                                    Sim <i class="fa fa-check"></i>
                                </button>
                            </p>
                        </div>

                    <?php endforeach; ?>

                    <div class="tab-pane" id="<?php echo 'tab' . $count ?>">
                        <div class="circle-step">
                            <?php echo $countTitle ?>
                        </div>
                        <div class="text-in">
                            <h4 class="font-green"><b>Concluir</b></h4>
                            <hr>
                            Deseja concluir com as respectivas escolhas?
                            <div id="modules"></div>
                            <hr>
                        </div>
                        <p class="text-center">
                            <button
                                class="btn btn-circle red-sunglo"
                                type="button"
                                onclick="next(<?php echo $max; ?>, <?php echo $count; ?>, false, null, '')"
                            >
                                Não
                                <i class="fa fa-remove"></i>
                            </button>
                            <button
                                class="btn btn-circle green-meadow"
                                type="button"
                                onclick="next(<?php echo $max; ?>, <?php echo $count; ?>, true, null, '')"
                            >
                                Sim
                                <i class="fa fa-check"></i>
                            </button>
                        </p>
                    </div>
                </div>
        </div>
    </div>
</div>


<?php $this->inlineScript()->captureStart(); ?>
$(document).ready(function(){
$('#nav-tab-2').addClass('active');
$('#tab2').addClass('active');
sessionStorage.clear();
});

<?php $this->inlineScript()->captureEnd(); ?>
